{#
Available variables:
  - params [
    - api_endpoint
    - element_id
    - rooms
  ]
#}
<div>
  <div class="form-group">
    <input type="date" id="booking-date-picker-{{ params.element_id }}">
  </div>
  <div class="form-group">
    <select name="booking-room-select" id="booking-room-select-{{ params.element_id }}">
      <option value="_empty"> {{ '- Select -'|t }} </option>
    </select>
  </div>
  <div booking-element-id="{{ params.element_id }}" class="booking_calendar" id="calendar-{{ params.element_id }}"></div>
</div>

<div id="modalContainer">
  <div id="modal" class="modal">
      <div class="modal-content">
        <div class="modal-header">
          <span id="bookingClose">&times;</span>
          <h2 id="bookingHeader"></h2>
        </div>
        <div class="modal-body">
          <p id="bookingResourceId"><b>Lokale ID:</b></p>
          <p id="bookingResourceTitle"><b>Lokale titel:</b></p>
          <p id="bookingFrom"><b>Fra:</b></p>
          <p id="bookingTo"><b>Til:</b></p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary">Opret booking</button>
        </div>
      </div>
  </div>
</div> 